.dropdown {
   display: flex;
   flex-direction: column;
   &__button {
      padding: 10px;
      display: flex;
      background-color: $primary;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      border: none;
      justify-content: space-between;
      height: 32px;
      @include media-query(medium) {
         height: 46px;
      }
      @include media-query(large) {
         height: 52px;
         border-radius: 10px;
      }
      &__title {
         color: $white;
         font-weight: 500;
         font-size: 13px;
         @include media-query(medium) {
            font-size: 16px;
         }
         @include media-query(large) {
            font-size: 18px;
         }
      }
      &__chevron {
         font-size: xx-large;
         color: $white;
      }
   }
   &__infos {
      padding: 10px;
      color: red;
      background-color: $secondary;
      border-radius: 15px;
      line-height: 20px;
      @include media-query(medium) {
         line-height: 25.5px;
      }
   }
   &__hidden {
      display: none;
   }
}
