.about {
   margin: 0 5%;
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   row-gap: 15px;
}
.dropdowns {
   margin: 0 5%;
}
.banner {
   @include media-query(small) {
   }

   @include media-query(medium) {
   }

   @include media-query(large) {
   }
}
