@-webkit-keyframes tracking-in-expand {
   0% {
      letter-spacing: -0.5em;
      opacity: 0;
   }
   40% {
      opacity: 0.6;
   }
   100% {
      opacity: 1;
   }
}

@keyframes tracking-in-expand {
   0% {
      letter-spacing: -0.5em;
      opacity: 0;
   }
   40% {
      opacity: 0.6;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes shadow-drop-2-center {
   0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
   100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
   }
}
@keyframes shadow-drop-2-center {
   0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
   100% {
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
   }
}
