.tag {
   height: 21px;
   width: fit-content;
   background-color: $primary;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   @include media-query(medium) {
      height: 25px;
      border-radius: 8px;
   }
   @include media-query(large) {
      height: 27px;
      border-radius: 10px;
   }
   &__text {
      font-size: 11px;
	  font-weight: 500;
      color: white;
      margin: 0 5px;
      padding: 4px;
      @include media-query(small) {
         font-size: 12px;
      }
      @include media-query(medium) {
         font-size: 14px;
      }
      @include media-query(large) {
         font-size: 15px;
      }
   }
}
