.tag {
   height: 18px;
   width: fit-content;
   background-color: $primary;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   @include media-query(medium) {
      height: 20px;
   }
   @include media-query(large) {
      height: 25px;
   }
   &__text {
      font-size: 10px;
      color: white;
      margin: 0 5px;
      padding: 4px;
      @include media-query(small) {
         font-size: 12px;
      }
      @include media-query(medium) {
         font-size: 14px;
      }
      @include media-query(large) {
         font-size: 16px;
      }
   }
}
