/*--- Error ---*/
.errContainer {
   color: #ff6060;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin: 50px 0 20px 0;
}

.big404 {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 288px;
   left: 0%;
   right: 0%;
   top: 0%;
   bottom: 0%;
   display: flex;
   align-items: center;
   text-align: center;
   color: #ff6060;
}
h1 {
   font-weight: 500;
}

span {
   padding-top: 12em;
}
a {
   text-decoration: underline;
   color: #ff6060;
}

/*--- Fin Error ---*/
