.home__products {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 40px;
   margin-top: 40px;
   padding: 40px;
}
.articles:nth-last-child(-0n + 1) {
   border: 5px solid lime;
}
.articles.articles:nth-last-child(-0n + 2) {
   border: 5px solid red;
}
@media screen and (max-width: $mediumdevices) {
   .home__products {
      display: flex;
      flex-direction: column;
      padding: 0;
   }
}
