.card{
	color: $primary;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	&__tags{
		color:rgb(0, 0, 0);
		display: flex;
		flex-direction: row;
		gap: 15px;
		.tag{
			height: 18px;
			width: 84px;
			background-color: $primary;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			&__text{
				font-size: 10px;
				color: white;
				margin: 0 5px;
				padding: 4px;
        
				
        //test pull3

        main
			}
		}
	}
}