.card {
   max-width: 1440px;
   margin: 20px 5%;
   color: $primary;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   gap: 20px;
   @include media-query(large) {
      gap: 30px;
   }
   .details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      @include media-query(medium) {
         flex-direction: row;
      }
      .prod {
         display: flex;
         flex-direction: column;
         gap: 20px;
         &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            @include media-query(small) {
               font-size: 22px;
               line-height: 25px;
            }
            @include media-query(medium) {
               font-size: 28px;
               line-height: 45px;
            }
            @include media-query(large) {
               font-size: 36px;
               line-height: 51px;
            }
         }
         &__location {
            font-weight: 500;
            font-size: 14px;
            @include media-query(small) {
               font-size: 16px;
            }
            @include media-query(medium) {
               font-size: 20px;
            }
         }
         &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
         }
      }
      .provider {
         display: flex;
         justify-content: space-between;
         align-items: center;
         @include media-query(medium) {
            flex-direction: column-reverse;
            align-items: flex-end;
         }
         .rate-comp {
            display: flex;
            flex-direction: row;
            gap: 3.5px;
            @include media-query(medium) {
               gap: 5px;
            }
            @include media-query(large) {
               gap: 7px;
            }
         }
      }
   }
   .drops {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      @include media-query(large) {
         flex-direction: row;
         justify-content: space-between;
         column-gap: 76px;
         .dropdown {
            width: 100%;
         }
      }
   }
}
