.header {
   margin: 20px 5%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   height: 43px;
   font-size: 11px;
   @include media-query(small) {
      height: 54px;
      font-size: 18px;
      margin: 25px 5%;
   }
   @include media-query(medium) {
      height: 68px;
      font-size: 24px;
      margin: 35px 5%;
   }
   @include media-query(large) {
      margin: 40px 5%;
   }
}
.logo {
   height: 90%;
   @include media-query(small) {
      height: 100%;
   }
   &__container {
      height: 100%;
   }
}
.nav {
   a {
      text-decoration: none;
   }
   &__bar {
      display: flex;
      justify-content: flex-end;
   }
   &__link {
      margin-left: 22px;
      text-align: right;
      line-height: 34px;
      color: #ff6060;
      font-weight: 500;
      align-items: flex-end;
      @include max-media-query(small) {
         text-transform: uppercase;
      }
      @include media-query(medium) {
         margin-left: 40px;
      }
      @include media-query(large) {
         margin-left: 57px;
      }
      &--active {
         text-decoration: underline;
      }
   }
}
