.carousel {
   position: relative;
   width: 100%;
   height: 300px;
   overflow: hidden;
   border-radius: 10px;
   @include media-query(small) {
      border-radius: 18px;
   }
   @include media-query(medium) {
      height: 415px;
      border-radius: 25px;
   }
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   .carousel__arrow {
      font-size: 2em;
      position: absolute;
      top: 50%;
      font-weight: bold;
      transform: translateY(-50%);
      color: white;
      background: transparent;
      border: none;
      cursor: pointer;
      @include media-query(small) {
         border-radius: 18px;
         font-size: 4em;
      }
      @include media-query(medium) {
         border-radius: 25px;
         font-size: 5em;
      }
      @include media-query(large) {
         font-size: 8em;
      }
      &--prev {
         left: -5px;
         @include media-query(small) {
            left: -10px;
         }
         @include media-query(medium) {
            left: -15px;
         }
         @include media-query(large) {
            left: -25px;
         }
      }
      &--next {
         right: -5px;
         @include media-query(small) {
            right: -10px;
         }
         @include media-query(medium) {
            right: -15px;
         }
         @include media-query(large) {
            right: -25px;
         }
      }
   }
   &__index {
      display: none;
      @include media-query(small) {
         display: block;
         position: absolute;
         left: 50%;
         bottom: 20px;
         color: $white;
         font-weight: 500;
         height: 18px;
      }
   }
}
