$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$primary: hsl(0, 100%, 69%);
$secondary: hsl(0, 0%, 97%);

$smalldevices: 576px;
$mediumdevices: 768px;
$largedevices: 992px;
$xlargedevices: 1200px;

$breakpoints: (
   small: 576px,
   medium: 768px,
   large: 992px,
   xlarge: 1200px,
);
/* Screen size variables */
