$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$primary: hsl(0, 100%, 69%);
$secondary: hsl(0, 0%, 97%);


$breakpoints: (
   small: 576px,
   medium: 768px,
   large: 992px,
   xlarge: 1200px,
);
/* Screen size variables */
