.banner {
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;

	background-position: 50%;
	&__img{
		border-radius: 25px;
		width: 100%;
	}
}
@media screen and (min-width: $mediumdevices) {
	.banner {
	   height: 223px;
	   justify-content: center;
	}
 }


