.banner {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 111px;
	justify-content: center;
	border-radius: 10px;
	margin: 0 5%;
	// filter : brightness(50%);
	background-position: 60%;
	font-size: 24px;
	&__text {
		position: absolute;
		color: $white;
		padding: 32px 110px 31px 16px;
		align-items: flex-end;
			@include media-query(small) {
				padding:10px
			}
	}
		@include media-query(medium) {
			height: 180px;
			border-radius: 25px;
		}
}